---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Ecomservice — Uw Vertrouwd Partner',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Neem Contact Op',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'vrijblijvende video call', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">E-comservice</span><span class="hidden xl:inline"> realiseert</span> uw visie.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Opzoek</span> naar een betrouwbare specialist voor het bouwen van jouw webshop?</span
      >
      Wij zijn gespecialiseerd in het ontwikkelen van op maat gemaakte Mobiele applicaties, webshops, system portals en portfolio websites.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->



  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Diensten"
    title="Uw vertrouwd partner"
    subtitle="Bouwen, onderhouden of optimaliseren van uw webshop is mogelijk bij E-comservice.nl."
    items={[
      {
        title: 'Webshops (CMS)',
        description:
          'WordPress + Woo commerce.<br/>Shopify.<br/>Magento.<br/>Maatwerk (Pure Coding).',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Mobile Applicatie',
        description:
          'Uw app in de appstore?<br/>IOS & Android.<br/>React Native.<br/>Flutter.',
        icon: 'tabler:components',
      },
      {
        title: 'Web Apps',
        description:
          'Website bouwen (HTML, CSS, JS).<br/>Portal Systems (Admin, User).<br/>Figma Design.<br/>Responsive Layout & UI/UX.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Maatwerk Applicatie',
        description:
          'Heeft u een vraag waar specifiek maatwerk voor geleverd moet worden? Wij praten graag over de mogelijkheden. Voorraadsystemen, booking apps of winkelapps.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Graphics Desgin',
        description:
          'OPVALLEND promotiemateriaal nodig?! Wij kunnen zowel fysiek als digitaal “pakkende” advertenties ontwerpen. Ons materiaal word gebruikt voor social media ads of in fysieke locaties. Tevens zijn wij ook in staat om aantrekkelijke menu, trouw of andere kaarten te maken.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Functies"
    title="Waroom Ecomservice en Voordelen"
    items={[
      {
        title: 'WordPress + WooCommerce',
        description:
          'Wij combineren de flexibiliteit van WordPress met de kracht van WooCommerce om uw e-commerce ervaring te verbeteren. Van aanpassingen tot volledige implementaties, wij leveren op maat gemaakte oplossingen die exact aansluiten op de eisen/wensen die jij stelt voor jouw webshop.',
      },
      {
        title: 'Shopify',
        description:
          'Kies voor een eenvoudige e-commerce ervaring met onze Shopify oplossingen. Met onze jarenlange ervaring en kennis omtrent het platform kunnen wij uw online winkel snel en efficiënt lanceren. Van ontwerp tot integratie, wij bieden een compleet pakket aan wat u nodig heeft om uw bedrijf te laten functioneren op Shopify.',
      },
      {
        title: 'Maatwerk (Pure Coding)',
        description:
          'Voor unieke en op maat gemaakte oplossingen die perfect passen bij jouw bedrijf, kies voor onze maatwerk / from scratch diensten. Wij gaan jouw visie omzetten in een webapplicatie precies zoals je die voor ogen hebt!',
      },
      {
        title: 'Magento',
        description:
          'Maak gebruik van de krachtige mogelijkheden van Magento met onze op maat gemaakte oplossingen. Ons ervaren team van ontwikkelaars staat klaar om uw e-commercevisie te realiseren op het schaalbare Magento-platform.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Backend & CMS</h3>
    </Fragment>

    <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'UX-Design Excellence',
        description: `Gebruikerservaring is belangrijk en zorgt ervoor dat bezoekers langer op je site blijven. Wij optimaliseren jouw webshop d.m.v. UX-designexpertise. We richten jouw webshop zo in, dat het makkelijk is voor de bezoeker om te navigeren door de shop. Het gevolg hiervan is een hoger conversie percentage. Naast het verhogen van het aantal conversies, dient gebruiksgemak ook voor tevreden gebruikers en terugkerende klanten.`,
      },
      {
        title: 'Stijlvolle Look & Feel',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Gebruikersvriendelijkheid Voorop',
        description:
          "Maak indruk op jouw bezoekers met een website die niet alleen mooi is, maar ook gebruiksvriendelijk. Wij streven naar een optimale gebruikerservaring door aandacht te besteden aan navigatie, responsiviteit en toegankelijkheid.",
      },
      {
        title: 'Visueel Aantrekkelijke Animaties',
        description:
          'Voeg een vleugje dynamiek toe aan jouw website met visueel aantrekkelijke animaties. Wij zijn gepecialiseerd in animatie-effecten.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >

    <Fragment slot="content"><h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Frontend UX</h3></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Waarom alle werkzaamheden onder één dak',
        description:
          'Met alle werkzaamheden onder één dak coördineren we naadloos elk aspect van uw project, wat resulteert in een gestroomlijnde ervaring en een consistente kwaliteit van begin tot eind.',
      },
      {
        title: 'Eén Aanspreekpunt Voor Alles',
        description:
          'Bij ons heeft u één aanspreekpunt voor al uw behoeften, waardoor de communicatie eenvoudig blijft en het project efficiënt wordt uitgevoerd.',
      },
      {
        title: 'Een Gezamenlijke Visie',
        description:
          'Wij behouden een cohesieve visie door alle werkzaamheden bij één partij onder te brengen, wat resulteert in een sterker eindproduct dat voldoet aan al uw verwachtingen.',
      },
      {
        title: 'Geïntegreerde Successen',
        description: `Door alle werkzaamheden onder één dak uit te voeren, bieden wij geïntegreerde oplossingen die alle aspecten van uw project omvatten, waardoor de efficiëntie wordt verhoogd en het succes van uw project wordt gegarandeerd.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content"><h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Alles onder één Dak</h3></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Proces van visie naar werkelijkheid"
    items={[
      {
        title: 'Stap 1: <span class="font-medium">Kennismaking</span>',
        description:
          "Vertel ons over je project tijdens een vrijblijvend eerste gesprek. Jouw visie staat centraal.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Stap 2: <span class="font-medium">Voorstel en Planning</em>',
        description:
          "Ontvang een duidelijk projectvoorstel met een overzicht van de kosten, tijdslijn en aanpak.",
        icon: 'tabler:bulb',
      },
      {
        title: 'Stap 3: <span class="font-medium">Ontwerp en Ontwikkeling</span>',
        description:
          'We brengen je idee tot leven met creatieve ontwerpen en professionele technologie.',
        icon: 'tabler:paint',
      },
      {
        title: 'Stap 4: <span class="font-medium">Feedback en Aanpassingen</span>',
        description:
          'Jouw input is essentieel. We verfijnen het project op basis van je feedback.',
        icon: 'tabler:user-question',
      },
      {
        title: 'Stap 5: <span class="font-medium">Lancering</span>',
        description:
          'Na grondige tests en jouw finale goedkeuring gaat je website live.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Nazorg!',
        description:
          'Geniet van onze continue ondersteuning en onderhoudsdiensten om je website ten alle tijden geoptimaliseerd te houden.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
<!--hide blocks temporary
  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
 -->
  <!-- HighlightedPosts Widget 

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />
  ******* -->
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Mobiel Applicaties', amount: '13' },
      { title: 'Webshops', amount: '+20' },
      { title: 'System Portals', amount: '7' },
      { title: 'Huidige Klanten', amount: '+10' },
    ]}
  />
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />



  <!-- CallToAction Widget *********** -->
<!-- block hidden
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
   -->
</Layout>
